{
    debug
    default_sni default_sni
}
localhost:2224 {
    tls internal
    reverse_proxy speech-container:2224

    request_body {
        max_size 3000MB  # Set the maximum file upload size to 50MB
    }
}

:2224 {
    tls internal
    reverse_proxy speech-container:2224

    request_body {
        max_size 3000MB  # Set the maximum file upload size to 50MB
    }
}

default_sni {
    tls internal
}